model.xsd/cmf.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema
  targetNamespace="https://docs.oasis-open.org/niemopen/ns/specification/cmf/1.0/"
  xmlns:appinfo="https://docs.oasis-open.org/niemopen/ns/model/appinfo/6.0/"
  xmlns:cmf="https://docs.oasis-open.org/niemopen/ns/specification/cmf/1.0/"
  xmlns:ct="https://docs.oasis-open.org/niemopen/ns/specification/conformanceTargets/6.0/"
  xmlns:nc="https://docs.oasis-open.org/niemopen/ns/model/niem-core/6.0/"
  xmlns:niem-xs="https://docs.oasis-open.org/niemopen/ns/model/adapters/niem-xs/6.0/"
  xmlns:structures="https://docs.oasis-open.org/niemopen/ns/model/structures/6.0/"
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  ct:conformanceTargets="https://docs.oasis-open.org/niemopen/ns/specification/XNDR/6.0/#ExtensionSchemaDocument"
  version="1.0-alpha.2"
  xml:lang="en-US">
  <xs:annotation>
    <xs:documentation>The NIEM Common Model Format (CMF).</xs:documentation>
  </xs:annotation>
  <xs:import namespace="https://docs.oasis-open.org/niemopen/ns/model/niem-core/6.0/" schemaLocation="niem-core.xsd"/>
  <xs:import namespace="https://docs.oasis-open.org/niemopen/ns/model/adapters/niem-xs/6.0/" schemaLocation="adapters/niem-xs.xsd"/>
  <xs:import namespace="https://docs.oasis-open.org/niemopen/ns/model/structures/6.0/" schemaLocation="utility/structures.xsd"/>
  <xs:complexType name="AnyValueFacetType">
    <xs:annotation>
      <xs:documentation>A data type for a facet that can have any value type.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:ObjectType">
        <xs:sequence>
          <xs:element ref="cmf:AnyValueAbstract"/>
          <xs:element ref="cmf:DocumentationText" minOccurs="0"/>
          <xs:element ref="cmf:AnyValueFacetAugmentationPoint" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="AugmentationType">
    <xs:annotation>
      <xs:documentation>A data type for a class that is augmented with a property by a namespace.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:ObjectType">
        <xs:sequence>
          <xs:element ref="cmf:Class" minOccurs="0"/>
          <xs:element ref="cmf:Property"/>
          <xs:element ref="cmf:AugmentationIndex"/>
          <xs:element ref="cmf:MinOccursQuantity"/>
          <xs:element ref="cmf:MaxOccursQuantity"/>
          <xs:element ref="cmf:GlobalAugmented" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ClassType">
    <xs:annotation>
      <xs:documentation>A data type for a class.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cmf:ComponentType">
        <xs:sequence>
          <xs:element ref="cmf:AbstractIndicator" minOccurs="0"/>
          <xs:element ref="cmf:AugmentableIndicator" minOccurs="0"/>
          <xs:element ref="cmf:ExtensionOfClass" minOccurs="0"/>
          <xs:element ref="cmf:ReferenceCode" minOccurs="0"/>
          <xs:element ref="cmf:HasProperty" maxOccurs="unbounded" appinfo:orderedPropertyIndicator="true"/>
          <xs:element ref="cmf:ClassAugmentationPoint" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="CodeListBindingType">
    <xs:annotation>
      <xs:documentation>A data type for connecting simple content defined by an XML Schema component to a a column of a code list.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:ObjectType">
        <xs:sequence>
          <xs:element ref="cmf:CodeListURI"/>
          <xs:element ref="cmf:CodeListColumnName" minOccurs="0"/>
          <xs:element ref="cmf:CodeListConstrainingIndicator" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ComponentType" abstract="true">
    <xs:annotation>
      <xs:documentation>A data type for common properties of a data model component in NIEM.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:ObjectType">
        <xs:sequence>
          <xs:element ref="cmf:Name"/>
          <xs:element ref="cmf:Namespace"/>
          <xs:element ref="cmf:DocumentationText" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="cmf:DeprecatedIndicator" minOccurs="0"/>
          <xs:element ref="cmf:ComponentAugmentationPoint" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="DataPropertyType">
    <xs:annotation>
      <xs:documentation>A data type for a data property</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cmf:PropertyType">
        <xs:sequence>
          <xs:element ref="cmf:Datatype" minOccurs="0"/>
          <xs:element ref="cmf:AttributeIndicator" minOccurs="0"/>
          <xs:element ref="cmf:RefAttributeIndicator" minOccurs="0"/>
          <xs:element ref="cmf:DataPropertyAugmentationPoint" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="DatatypeType">
    <xs:annotation>
      <xs:documentation>A data type for a data type.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cmf:ComponentType">
        <xs:sequence>
          <xs:element ref="cmf:DatatypeAugmentationPoint" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="HasPropertyType">
    <xs:annotation>
      <xs:documentation>A data type for an occurrence of a property as content of a class.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:ObjectType">
        <xs:sequence>
          <xs:element ref="cmf:Property"/>
          <xs:element ref="cmf:MinOccursQuantity"/>
          <xs:element ref="cmf:MaxOccursQuantity"/>
          <xs:element ref="cmf:DocumentationText" minOccurs="0"/>
          <xs:element ref="cmf:OrderedPropertyIndicator" minOccurs="0"/>
          <xs:element ref="cmf:AugmentingNamespace" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="cmf:HasPropertyAugmentationPoint" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ListType">
    <xs:annotation>
      <xs:documentation>A data type for a NIEM model datatype that is whitespace-separated list of atomic values.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cmf:DatatypeType">
        <xs:sequence>
          <xs:element ref="cmf:ListOf"/>
          <xs:element ref="cmf:OrderedPropertyIndicator" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="LocalTermType">
    <xs:annotation>
      <xs:documentation>A data type for the meaning of a term that may appear within the name of a model component.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:ObjectType">
        <xs:sequence>
          <xs:element ref="cmf:TermName"/>
          <xs:element ref="cmf:DocumentationText" minOccurs="0"/>
          <xs:element ref="cmf:TermLiteralText" minOccurs="0"/>
          <xs:element ref="cmf:SourceURI" minOccurs="0"/>
          <xs:element ref="cmf:SourceCitationText" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="MaxOccursSimpleType">
    <xs:annotation>
      <xs:documentation>A data type for the maximum number of times a property may occur within a class.</xs:documentation>
    </xs:annotation>
    <xs:union memberTypes="xs:nonNegativeInteger cmf:MaxOccursUnboundedCodeSimpleType"/>
  </xs:simpleType>
  <xs:complexType name="MaxOccursType">
    <xs:annotation>
      <xs:documentation>A data type for the maximum number of times a property may occur within a class.</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="cmf:MaxOccursSimpleType">
        <xs:attributeGroup ref="structures:SimpleObjectAttributeGroup"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:simpleType name="MaxOccursUnboundedCodeSimpleType">
    <xs:annotation>
      <xs:documentation>A data type for identifying that there is no maximum number of times that a property may occur within a class.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="unbounded">
        <xs:annotation>
          <xs:documentation>There is no maximum number of times that a property may occur.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="MaxOccursUnboundedCodeType">
    <xs:annotation>
      <xs:documentation>A data type for identifying that there is no maximum number of times that a property may occur within a class.</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="cmf:MaxOccursUnboundedCodeSimpleType">
        <xs:attributeGroup ref="structures:SimpleObjectAttributeGroup"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="ModelType">
    <xs:annotation>
      <xs:documentation>A data type for a NIEM data model.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:ObjectType">
        <xs:sequence>
          <xs:element ref="cmf:Namespace" minOccurs="1" maxOccurs="unbounded"/>
          <xs:element ref="cmf:Component" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="cmf:ModelAugmentationPoint" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="NamespaceKindCodeType">
    <xs:simpleContent>
      <xs:restriction base="niem-xs:token">
        <xs:enumeration value="BUILTIN">
          <xs:annotation>
            <xs:documentation>A builtin namespace (appinfo, code-lists, conformance, proxy, structures).</xs:documentation>
          </xs:annotation>
        </xs:enumeration>
        <xs:enumeration value="CORE">
          <xs:annotation>
            <xs:documentation>The namespace for the NIEM core.</xs:documentation>
          </xs:annotation>
        </xs:enumeration>
        <xs:enumeration value="DOMAIN">
          <xs:annotation>
            <xs:documentation>A namespace for a NIEM domain.</xs:documentation>
          </xs:annotation>
        </xs:enumeration>
        <xs:enumeration value="EXTENSION">
          <xs:annotation>
            <xs:documentation>An extension namespace.</xs:documentation>
          </xs:annotation>
        </xs:enumeration>
        <xs:enumeration value="EXTERNAL">
          <xs:annotation>
            <xs:documentation>A non-conforming namespace.</xs:documentation>
          </xs:annotation>
        </xs:enumeration>
        <xs:enumeration value="OTHERNIEM">
          <xs:annotation>
            <xs:documentation>A namespace in the publication or release domain, but not core, domain, or builtin.</xs:documentation>
          </xs:annotation>
        </xs:enumeration>
        <xs:enumeration value="UNKNOWN">
          <xs:annotation>
            <xs:documentation>A namespace of an unknown kind.</xs:documentation>
          </xs:annotation>
        </xs:enumeration>
        <xs:enumeration value="XML">
          <xs:annotation>
            <xs:documentation>http://www.w3.org/XML/1998/namespace</xs:documentation>
          </xs:annotation>
        </xs:enumeration>
        <xs:enumeration value="XSD">
          <xs:annotation>
            <xs:documentation>http://www.w3.org/2001/XMLSchema</xs:documentation>
          </xs:annotation>
        </xs:enumeration>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="NamespaceType">
    <xs:annotation>
      <xs:documentation>A data type for a namespace</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:ObjectType">
        <xs:sequence>
          <xs:element ref="cmf:NamespaceURI"/>
          <xs:element ref="cmf:NamespacePrefixText"/>
          <xs:element ref="cmf:DocumentationText" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="cmf:NamespaceKindCode"/>
          <xs:element ref="cmf:ConformanceTargetURI" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="cmf:DocumentFilePathText" minOccurs="0"/>
          <xs:element ref="cmf:NIEMVersionText" minOccurs="0"/>
          <xs:element ref="cmf:NamespaceVersionText"/>
          <xs:element ref="cmf:NamespaceLanguageName"/>
          <xs:element ref="cmf:ImportDocumentationText" minOccurs="0"/>
          <xs:element ref="cmf:AugmentationRecord" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="cmf:LocalTerm" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="cmf:NamespaceAugmentationPoint" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="NonNegativeValueFacetType">
    <xs:annotation>
      <xs:documentation>A data type for a facet that carries a value that is either zero or a positive integer.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:ObjectType">
        <xs:sequence>
          <xs:element ref="cmf:NonNegativeValue"/>
          <xs:element ref="cmf:DocumentationText" minOccurs="0"/>
          <xs:element ref="cmf:NonNegativeValueFacetAugmentationPoint" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ObjectPropertyType">
    <xs:annotation>
      <xs:documentation>A data type for an object property.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cmf:PropertyType">
        <xs:sequence>
          <xs:element ref="cmf:Class"/>
          <xs:element ref="cmf:ReferenceCode" minOccurs="0"/>
          <xs:element ref="cmf:ObjectPropertyAugmentationPoint" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="PatternFacetType">
    <xs:annotation>
      <xs:documentation>A data type for restricting the content of a datatype to values that match a specific pattern, provided as a regular expression.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:ObjectType">
        <xs:sequence>
          <xs:element ref="cmf:StringValue"/>
          <xs:element ref="cmf:DocumentationText" minOccurs="0"/>
          <xs:element ref="cmf:PatternFacetAugmentationPoint" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="PositiveValueFacetType">
    <xs:annotation>
      <xs:documentation>A data type for a facet that carries a value that is a positive integer.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:ObjectType">
        <xs:sequence>
          <xs:element ref="cmf:PositiveValue"/>
          <xs:element ref="cmf:DocumentationText" minOccurs="0"/>
          <xs:element ref="cmf:PositiveValueFacetAugmentationPoint" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="PropertyType">
    <xs:annotation>
      <xs:documentation>A data type for a property.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cmf:ComponentType">
        <xs:sequence>
          <xs:element ref="cmf:AbstractIndicator" minOccurs="0"/>
          <xs:element ref="cmf:SubPropertyOf" minOccurs="0"/>
          <xs:element ref="cmf:RelationshipPropertyIndicator" minOccurs="0"/>
          <xs:element ref="cmf:PropertyAugmentationPoint" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ReferenceCodeType">
    <xs:annotation>
      <xs:documentation>A data type for a code describing how a property may be referenced (or must appear inline).</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:restriction base="niem-xs:token">
        <xs:enumeration value="ANY">
          <xs:annotation>
            <xs:documentation>A code for a component that may be referenced by IDREF or URI.</xs:documentation>
          </xs:annotation>
        </xs:enumeration>
        <xs:enumeration value="NONE">
          <xs:annotation>
            <xs:documentation>A code for a component that may not be referenced.</xs:documentation>
          </xs:annotation>
        </xs:enumeration>
        <xs:enumeration value="REF">
          <xs:annotation>
            <xs:documentation>A code for a component that may be referenced only by IDREF.</xs:documentation>
          </xs:annotation>
        </xs:enumeration>
        <xs:enumeration value="URI">
          <xs:annotation>
            <xs:documentation>A code for a component that may be referenced only by URI.</xs:documentation>
          </xs:annotation>
        </xs:enumeration>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="RestrictionType">
    <xs:annotation>
      <xs:documentation>A data type for a restriction of a data type.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cmf:DatatypeType">
        <xs:sequence>
          <xs:element ref="cmf:RestrictionOf"/>
          <xs:element ref="cmf:Facet" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="cmf:CodeListBinding" minOccurs="0"/>
          <xs:element ref="cmf:RestrictionOfAugmentationPoint" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="UnionType">
    <xs:annotation>
      <xs:documentation>A data type for a datatype that is a union of datatypes.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cmf:DatatypeType">
        <xs:sequence>
          <xs:element ref="cmf:UnionOf" maxOccurs="unbounded"/>
          <xs:element ref="cmf:UnionOfAugmentationPoint" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="URIListSimpleType">
    <xs:annotation>
      <xs:documentation>A data type for a white space-delimited list of URIs.</xs:documentation>
    </xs:annotation>
    <xs:list itemType="xs:anyURI"/>
  </xs:simpleType>
  <xs:complexType name="URIListType">
    <xs:annotation>
      <xs:documentation>A data type for a white space-delimited list of URIs.</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="cmf:URIListSimpleType">
        <xs:attributeGroup ref="structures:SimpleObjectAttributeGroup"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="WhiteSpaceFacetCodeType">
    <xs:annotation>
      <xs:documentation>A data type for a specification of white space for a data type.</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:restriction base="niem-xs:string">
        <xs:enumeration value="collapse">
          <xs:annotation>
            <xs:documentation>After the processing implied by replace, contiguous sequences of #x20's are collapsed to a single #x20, and leading and trailing #x20's are removed.</xs:documentation>
          </xs:annotation>
        </xs:enumeration>
        <xs:enumeration value="preserve">
          <xs:annotation>
            <xs:documentation>No normalization is done, the value is not changed (this is the behavior required by [XML 1.0 (Second Edition)] for element content)</xs:documentation>
          </xs:annotation>
        </xs:enumeration>
        <xs:enumeration value="replace">
          <xs:annotation>
            <xs:documentation>All occurrences of #x9 (tab), #xA (line feed) and #xD (carriage return) are replaced with #x20 (space)</xs:documentation>
          </xs:annotation>
        </xs:enumeration>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="WhiteSpaceFacetType">
    <xs:annotation>
      <xs:documentation>A data type constraining how white space within data values is handled.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:ObjectType">
        <xs:sequence>
          <xs:element ref="cmf:WhiteSpaceValueCode"/>
          <xs:element ref="cmf:DocumentationText" minOccurs="0"/>
          <xs:element ref="cmf:WhiteSpaceFacetAugmentationPoint" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="WhiteSpaceValueCodeType">
    <xs:annotation>
      <xs:documentation>A data type for a specification of white space for a data type.</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:restriction base="niem-xs:string">
        <xs:enumeration value="collapse">
          <xs:annotation>
            <xs:documentation>After the processing implied by replace, contiguous sequences of #x20's are collapsed to a single #x20, and leading and trailing #x20's are removed.</xs:documentation>
          </xs:annotation>
        </xs:enumeration>
        <xs:enumeration value="preserve">
          <xs:annotation>
            <xs:documentation>No normalization is done, the value is not changed (this is the behavior required by [XML 1.0 (Second Edition)] for element content)</xs:documentation>
          </xs:annotation>
        </xs:enumeration>
        <xs:enumeration value="replace">
          <xs:annotation>
            <xs:documentation>All occurrences of #x9 (tab), #xA (line feed) and #xD (carriage return) are replaced with #x20 (space)</xs:documentation>
          </xs:annotation>
        </xs:enumeration>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>
  <xs:element name="AbstractIndicator" type="niem-xs:boolean" nillable="true">
    <xs:annotation>
      <xs:documentation>True if a component is a base for extension, and must be specialized to be used directly; false if a component may be used directly.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="AnyValueAbstract" abstract="true">
    <xs:annotation>
      <xs:documentation>A data concept for a value of a facet.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="AnyValueFacetAugmentationPoint" abstract="true">
    <xs:annotation>
      <xs:documentation>An augmentation point for AnyValueFacetType.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="AttributeIndicator" type="niem-xs:boolean" nillable="true">
    <xs:annotation>
      <xs:documentation>True for a property that is represented as attributes in XML.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="AugmentableIndicator" type="niem-xs:boolean" nillable="true">
    <xs:annotation>
      <xs:documentation>True if the class can be augmented with additional properties.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="AugmentationIndex" type="niem-xs:integer" nillable="true">
    <xs:annotation>
      <xs:documentation>An ordinal position of an augmentation property that is part of an augmentation type.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="AugmentingNamespace" type="cmf:NamespaceType" nillable="true">
    <xs:annotation>
      <xs:documentation>A namespace responsible for augmenting a class with a property.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="AugmentationRecord" type="cmf:AugmentationType">
    <xs:annotation>
      <xs:documentation>An augmentation of a class with a property by a namespace.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Class" type="cmf:ClassType" substitutionGroup="cmf:Component" nillable="true">
    <xs:annotation>
      <xs:documentation>A class.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ClassAugmentationPoint" abstract="true">
    <xs:annotation>
      <xs:documentation>An augmentation point for ClassType.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="CodeListBinding" type="cmf:CodeListBindingType">
    <xs:annotation>
      <xs:documentation>An element for connecting simple content defined by an XML Schema component to a a column of a code list.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="CodeListColumnName" type="niem-xs:string" nillable="true">
    <xs:annotation>
      <xs:documentation>A local name for a code list column within a code list.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="CodeListConstrainingIndicator" type="niem-xs:boolean" nillable="true">
    <xs:annotation>
      <xs:documentation>True when a code list binding constrains the validity of a code list value, false otherwise.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="CodeListURI" type="niem-xs:anyURI" nillable="true">
    <xs:annotation>
      <xs:documentation>A universal identifier for a code list.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Component" type="cmf:ComponentType" abstract="true">
    <xs:annotation>
      <xs:documentation>A data concept for a component of a NIEM data model.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ComponentAugmentationPoint" abstract="true">
    <xs:annotation>
      <xs:documentation>An augmentation point for ComponentType.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ConformanceTargetURI" type="niem-xs:anyURI" nillable="true">
    <xs:annotation>
      <xs:documentation>A list of conformance target identifiers.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="DataProperty" type="cmf:DataPropertyType" substitutionGroup="cmf:Property" nillable="true">
    <xs:annotation>
      <xs:documentation>A data property.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="DataPropertyAugmentationPoint" abstract="true">
    <xs:annotation>
      <xs:documentation>An augmentation point for DataPropertyType.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Datatype" type="cmf:DatatypeType" substitutionGroup="cmf:Component" nillable="true">
    <xs:annotation>
      <xs:documentation>A data type.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="DatatypeAugmentationPoint" abstract="true">
    <xs:annotation>
      <xs:documentation>An augmentation point for DatatypeType.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="DeprecatedIndicator" type="niem-xs:boolean" nillable="true">
    <xs:annotation>
      <xs:documentation>True for a deprecated schema component; that is, a component that is provided, but the use of which is not recommended.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="DocumentationText" type="nc:TextType">
    <xs:annotation>
      <xs:documentation>A human-readable text definition of a data model component or term, or the documentation of a namespace.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="DocumentFilePathText" type="niem-xs:string" nillable="true">
    <xs:annotation>
      <xs:documentation>A relative file path from a schema pile root directory to a schema document for this namespace.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Enumeration" type="cmf:AnyValueFacetType" substitutionGroup="cmf:Facet">
    <xs:annotation>
      <xs:documentation>A restriction of the length of a data type.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ExtensionOfClass" type="cmf:ClassType" nillable="true">
    <xs:annotation>
      <xs:documentation>A base class of a subclass.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Facet" abstract="true">
    <xs:annotation>
      <xs:documentation>A data concept for a facet that restricts an aspect of a data type.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="FractionDigits" type="cmf:NonNegativeValueFacetType" substitutionGroup="cmf:Facet">
    <xs:annotation>
      <xs:documentation>A restriction on the precision of a decimal data type, via a restriction on the number of digits allowed to the right of the decimal point of its decimal representation.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="GlobalAugmented" type="niem-xs:NCName" nillable="true">
    <xs:annotation>
      <xs:documentation>	A kind of component (all associations, all objects, or all atomic values) that is the target of this global augmentation.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="HasProperty" type="cmf:HasPropertyType">
    <xs:annotation>
      <xs:documentation>An occurrence of a property as content of a class.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="HasPropertyAugmentationPoint" abstract="true">
    <xs:annotation>
      <xs:documentation>An augmentation point for HasPropertyType.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ImportDocumentationText" type="nc:TextType">
    <xs:annotation>
      <xs:documentation>A human-readable documentation text for an import element importing this nameespace.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Length" type="cmf:NonNegativeValueFacetType" substitutionGroup="cmf:Facet">
    <xs:annotation>
      <xs:documentation>A restriction of the length of a data type. Unit of length varies depending on the type that is being derived from.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ListOf" type="cmf:DatatypeType" nillable="true">
    <xs:annotation>
      <xs:documentation>A NIEM model datatype of the atomic values in a list.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="LocalTerm" type="cmf:LocalTermType">
    <xs:annotation>
      <xs:documentation>A data type for the meaning of a term that may appear within the name of a model component.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="MaxExclusive" type="cmf:AnyValueFacetType" substitutionGroup="cmf:Facet">
    <xs:annotation>
      <xs:documentation>An exclusive upper bound of a data type.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="MaxInclusive" type="cmf:AnyValueFacetType" substitutionGroup="cmf:Facet">
    <xs:annotation>
      <xs:documentation>An inclusive upper bound of a data type.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="MaxLength" type="cmf:NonNegativeValueFacetType" substitutionGroup="cmf:Facet">
    <xs:annotation>
      <xs:documentation>A maximum length of a data type. Unit of length varies depending on the type that is being derived from.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="MaxOccursQuantity" type="cmf:MaxOccursType" nillable="true">
    <xs:annotation>
      <xs:documentation>A maximum number of times a property may occur within an object of a class.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="MinExclusive" type="cmf:AnyValueFacetType" substitutionGroup="cmf:Facet">
    <xs:annotation>
      <xs:documentation>An exclusive lower bound of a data type.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="MinInclusive" type="cmf:AnyValueFacetType" substitutionGroup="cmf:Facet">
    <xs:annotation>
      <xs:documentation>An inclusive lower bound of a data type.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="MinLength" type="cmf:NonNegativeValueFacetType" substitutionGroup="cmf:Facet">
    <xs:annotation>
      <xs:documentation>A minimum length of a data type. Unit of length varies depending on the type that is being derived from.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="MinOccursQuantity" type="niem-xs:nonNegativeInteger" nillable="true">
    <xs:annotation>
      <xs:documentation>A minimum number of times a property may occur within an object of a class.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Model" type="cmf:ModelType">
    <xs:annotation>
      <xs:documentation>A data model.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ModelAugmentationPoint" abstract="true">
    <xs:annotation>
      <xs:documentation>An augmentation point for ModelType.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Name" type="niem-xs:NCName" nillable="true">
    <xs:annotation>
      <xs:documentation>A name of a data model component.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Namespace" type="cmf:NamespaceType" nillable="true">
    <xs:annotation>
      <xs:documentation>A namespace of a data model component.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="NamespaceAugmentationPoint" abstract="true">
    <xs:annotation>
      <xs:documentation>An augmentation point for NamespaceType.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="NamespaceKindCode" type="cmf:NamespaceKindCodeType" nillable="true">
    <xs:annotation>
      <xs:documentation>A kind of namespace in a CMF model (external, core, domain, etc.).</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="NamespacePrefixText" type="niem-xs:NCName" nillable="true">
    <xs:annotation>
      <xs:documentation>A namespace prefix name for a namespace.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="NamespaceURI" type="niem-xs:anyURI" nillable="true">
    <xs:annotation>
      <xs:documentation>A URI for a namespace.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="NIEMVersionText" type="niem-xs:token" nillable="true">
    <xs:annotation>
      <xs:documentation>A NIEM version number of the builtin schema components used in a namespace; e.g. "5" or "6".</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="NonNegativeValue" type="niem-xs:nonNegativeInteger" substitutionGroup="cmf:AnyValueAbstract" nillable="true">
    <xs:annotation>
      <xs:documentation>A value of a facet, with an integer value zero or greater.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="NonNegativeValueFacetAugmentationPoint" abstract="true">
    <xs:annotation>
      <xs:documentation>An augmentation point for NonNegativeValueFacetType.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ObjectProperty" type="cmf:ObjectPropertyType" substitutionGroup="cmf:Property" nillable="true">
    <xs:annotation>
      <xs:documentation>An object property.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ObjectPropertyAugmentationPoint" abstract="true">
    <xs:annotation>
      <xs:documentation>An augmentation point for ObjectPropertyType.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="OrderedPropertyIndicator" type="niem-xs:boolean" nillable="true">
    <xs:annotation>
      <xs:documentation>True if the order of a repeated property within an object is significant.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Pattern" type="cmf:PatternFacetType" substitutionGroup="cmf:Facet">
    <xs:annotation>
      <xs:documentation>A restriction of the content of a datatype to values that match a specific pattern, provided as a regular expression.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PatternFacetAugmentationPoint" abstract="true">
    <xs:annotation>
      <xs:documentation>An augmentation point for PatternFacetType.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PositiveValue" type="niem-xs:positiveInteger" substitutionGroup="cmf:AnyValueAbstract" nillable="true">
    <xs:annotation>
      <xs:documentation>A value of a facet, with an integer value greater than zero.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PositiveValueFacetAugmentationPoint" abstract="true">
    <xs:annotation>
      <xs:documentation>An augmentation point for PositiveValueFacetType.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Property" type="cmf:PropertyType" substitutionGroup="cmf:Component" abstract="true">
    <xs:annotation>
      <xs:documentation>A data property or an object property.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PropertyAugmentationPoint" abstract="true">
    <xs:annotation>
      <xs:documentation>An augmentation point for PropertyType.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="RefAttributeIndicator" type="niem-xs:boolean" nillable="true">
    <xs:annotation>
      <xs:documentation>True for a property that is an object reference attribute.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ReferenceCode" type="cmf:ReferenceCodeType" nillable="true">
    <xs:annotation>
      <xs:documentation>A code describing how a property may be referenced (or must appear inline).</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="RelationshipPropertyIndicator" type="niem-xs:boolean" nillable="true">
    <xs:annotation>
      <xs:documentation>True for a property that applies to the relationship between two objects (instead of to a single object). </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="RestrictionOf" type="cmf:DatatypeType">
    <xs:annotation>
      <xs:documentation>A data type that is the restriction base of a data type.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="RestrictionOfAugmentationPoint" abstract="true">
    <xs:annotation>
      <xs:documentation>An augmentation point for RestrictionOfType.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="NamespaceLanguageName" type="niem-xs:language" nillable="true">
    <xs:annotation>
      <xs:documentation>A name of a default language of the terms and documentation text in a namespace.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="NamespaceVersionText" type="niem-xs:token" nillable="true">
    <xs:annotation>
      <xs:documentation>A version attribute of an XML schema document.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="SourceCitationText" type="niem-xs:string" nillable="true">
    <xs:annotation>
      <xs:documentation>A plain text citation of, reference to, or bibliographic entry for an originating or authoritative document defining a local term.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="SourceURI" type="niem-xs:anyURI" nillable="true">
    <xs:annotation>
      <xs:documentation>A URI that is an identifier or locator for an originating or authoritative document defining a local term.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="StringValue" type="niem-xs:string" substitutionGroup="cmf:AnyValueAbstract" nillable="true">
    <xs:annotation>
      <xs:documentation>A value of a facet, with a string value.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="SubPropertyOf" type="cmf:PropertyType" nillable="true">
    <xs:annotation>
      <xs:documentation>An object property of which an object property is a subproperty.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="TermLiteralText" type="niem-xs:string" nillable="true">
    <xs:annotation>
      <xs:documentation>A meaning of a local term provided as a full, plain-text form.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="TermName" type="niem-xs:token" nillable="true">
    <xs:annotation>
      <xs:documentation>A name for a local term.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="TotalDigits" type="cmf:PositiveValueFacetType" substitutionGroup="cmf:Facet">
    <xs:annotation>
      <xs:documentation>A restriction on the size and precision of a decimal data type, via a restriction on the number of digits required to represent its value.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="UnionOf" type="cmf:DatatypeType">
    <xs:annotation>
      <xs:documentation>A NIEM model datatype that is a member of a union datatype.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="UnionOfAugmentationPoint" abstract="true">
    <xs:annotation>
      <xs:documentation>An augmentation point for UnionOfType.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="WhiteSpace" type="cmf:WhiteSpaceFacetType" substitutionGroup="cmf:Facet">
    <xs:annotation>
      <xs:documentation>A constraint on how white space within data values is handled.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="WhiteSpaceFacetAugmentationPoint" abstract="true">
    <xs:annotation>
      <xs:documentation>An augmentation point for WhiteSpaceFacetType.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="WhiteSpaceValueCode" type="cmf:WhiteSpaceValueCodeType" nillable="true">
    <xs:annotation>
      <xs:documentation>A value of a specification of white space for a data type.</xs:documentation>
    </xs:annotation>
  </xs:element>
</xs:schema>
